{% extends 'main/layoute.html' %}

{% block title %}
	<title>Страница для добавления новостей</title>
	{% form %}
{{ endblock }}

{% block content %}
<div>
	<h2>Форма для добавления новостей</h2>
	<form method="post" >
        {% csrf_token %}
		<input type="text" placeholder="Заголовок новости"> <br>
		<input type="text" placeholder="Краткое описание новости"> <br>
		<textarea placeholder="Содержание новости"></textarea> <br>
		<input type="date"> <br>
		<input type="time"> <br>
        <input type="text" placeholder="Автор"> <br>
		<button type="submit">Добавить новость</button>
	</form>
</div>
{% endblock %}